.idea
.gradle
.DS_Store
.vscode
bin/
build/
src/main/resources/application.yml
docker/socialservices/socialservices.db
docker/socialservices/input/*
!docker/socialservices/input/*TEMPLATE.tsv
docker/socialservices/osm_cache/*.json
.env
*.db