version: '3.8'

services:
  postgres-db:
    image: postgres:15
    container_name: socialdb
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build:
      context: ./nextjs-dashboard
      dockerfile: Dockerfile
    ports:
      - "3100:3000"
    environment:
      - NODE_ENV=production
      - BACKEND_HOST=backend
      - BACKEND_PORT=8080

  backend:
    build:
      dockerfile: Dockerfile
    ports:
      - "8088:8080"
    volumes:
      - "./docker/backend/config:/app/config"

volumes:
  postgres_data:
