version: '3.8'

services:
  postgres-db:
    image: postgres:15
    container_name: socialdb
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build:
      context: ./nextjs-dashboard
      dockerfile: Dockerfile
    ports:
      - "3100:3000"
    environment:
      - NODE_ENV=production

#  backend:
#    build:
#      context: ./
#      dockerfile: Dockerfile
#    ports:
#      - ""

volumes:
  postgres_data:
